aside {
  background-color: #9bf6ff;
}

section {
  background-color: #a0c4ff;
}

.form {
  background-color: #fffffc;
}

.card-header-title {
  font-size: 1.1em;
  justify-content: center;
}

.priority-low {
  background-color: #caffbf;
}

.priority-mid {
  background-color: #ffd6a5;
}

.priority-high {
  background-color: #ffadad;
}

.project-btn {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.2em !important;
}

.project-btn-container > :nth-of-type(odd) {
  background-color: #fdffb6;
}

.project-btn-container > :nth-of-type(even) {
  background-color: #bdb2ff;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin: 15px;
}

.active {
  outline: 6px solid  #ffadad !important;
}

.card-footer-item {
  cursor: pointer;

}

.card-footer-item:hover {
  color: #BDB2FF;
}